* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.landing {
    background-image: url(./images/photo-1531297484001-80022131f5a1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: #edf0f1;
}

.title {
    padding-top: 100px;
    padding-left: 100px;
}

li,
a,
button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    color: #edf0f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}



.logo {
    cursor: default;
    font-size: 20px;
    font-weight: 900;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all .3s ease 0s;
    color: darkgray;
}

.nav-links li a:hover {
    color: #7a7a7a;

}

button {
    padding-left: 50px;
    padding: 9px 25px;
    border-radius: 50px;
    border: solid;
    cursor: pointer;
    transition: all .3s ease 0s;
    background-color: rgba(0, 0, 0, 0);
}

button:hover {
    border-radius: 0px;
    border: solid;
    color: #838383;
}